*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.9;
    color: #333;
    background: linear-gradient(70deg, #ffffff 0%, #ffffff 100%);
    min-height: 100vh;
    padding: 40px;
}
.ContenedorGeneral {
    max-width: 1150px;
    margin: 0 auto;
    background: white;
    border-radius: 0%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    overflow: hidden;
}